<section class="top-languages">
  <%= for {language, xpstat} <- @languages do %>
    <div class="combined-level-progress">
      <%=
        live_component(
          Components.LevelProgress,
          target: language,
          total_xp: xpstat.total_xp,
          new_xp: xpstat.recent_xp,
          heading_type: "h4",
          id: "top-language-#{language}"
        )
      %>
    </div>
  <% end %>
</section>
