.week-languages {
  // Forces graph to resize no matter the width
  overflow: hidden;

  grid-area: week-l;
  height: 300px;

  #week-languages-dataset {
    display: none;
  }

  #week-languages-chart {
    position: relative;
    height: 300px;

    >canvas {
      // Attempt to fix Chart.js drawing height wrong when screen is made smaller and bigger again
      height: 300px !important;
    }
  }
}
