.hidden-fadeout {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.world-map {
  position: relative;

  >.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    text-align: center;

    >h2 {
      font-style: italic;
    }
  }

  >img {
    // Remove unnecessary space below the map, making coordinates wrong
    display: block;

    max-width: 100%;
  }

  >.pulses {
    >.pulse-indicator {
      position: absolute;

      border-radius: 50%;
      background-color: #fff;
    }
  }
}
